<% layout("/layouts/boilerplate") %>
<body>
  <div class="listing-container">
    <h3 class="listing-heading">Listing Details</h3>

    <div class="card listing-card">
      <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" />
      <div class="card-body">
        <p class="card-title"><%= listing.title %></p>
      </div>
    </div>

    <ul class="listing-info">
      <li><strong>Title:</strong> <%= listing.title %></li>
      <li><strong>Description:</strong> <%= listing.description %></li>
      <li><strong>Price:</strong> ₹<%= listing.price.toLocaleString("en-IN") %></li>
      <li><strong>Location:</strong> <%= listing.location %></li>
      <li><strong>Country:</strong> <%= listing.country %></li>
    </ul>

    <div class="listing-buttons">
      <a class="btn btn-primary" href="/listings/<%= listing._id %>/edit">Edit this Listing</a>

      <form action="/listings/<%= listing._id %>?_method=DELETE" method="post" class="delete-form">
        <button class="btn btn-danger">Delete this Listing</button>
      </form>
    </div>
  </div>
</body>
